{% assign author = site.authors | where: 'author_id', post.author_id | first %}
{% assign news_data = site.data.site_data[page.news_data] %}
<!-- NEWS -->
<div class="shane_tm_section" id="news">
    <div class="shane_tm_news">
        <div class="container">
            <div class="shane_tm_title">
                <span>{{news_data.shane_section}}</span>
                <h3>{{news_data.title}}</h3>
            </div>
            <div class="news_list">
                <ul>
                    {% for post in site.posts limit:3 %}
                        <li>
                            <div class="list_inner">
                                <div class="image">
                                    <img src="{{'/assets/img/placeholders/4-3.jpg' | relative_url}}" alt="" />
                                    <div class="main" data-img-url="{{post.post_image | relative_url}}"></div>
                                    <a class="shane_tm_full_link" href="{{post.url | relative_url}}"></a>
                                </div>
                                <div class="details">
                                    <h3 class="title"><a href="{{post.url | relative_url}}">{{post.title}}</a></h3>
                                    <p class="date">By <a href="{{author.url | relative_url}}">{{author.name}}</a> <span>{{post.date | date: '%d %B %Y'}}</span></p>
                                </div>
                                <div class="description">
                                    {{post.content}}
                                    <div class="share">
                                        <span>Share:</span>
                                        <ul class="social">
                                            <li><a href="#"><img class="svg" src="{{'/assets/img/svg/social/facebook.svg' | relative_url}}" alt=""></a></li>

                                            <li><a href="#"><img class="svg" src="{{'/assets/img/svg/social/twitter.svg' | relative_url}}" alt=""></a></li>

                                            <li><a href="#"><img class="svg" src="{{'/assets/img/svg/social/behance.svg' | relative_url}}" alt=""></a></li>

                                            <li><a href="#"><img class="svg" src="{{'/assets/img/svg/social/dribbble.svg' | relative_url}}" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /NEWS -->