.shane_tm_news ul li {
  height: 58vh;
}

.shane_tm_news ul li .image img {
  height: 245px;
}

.shane_tm_portfolio .portfolio_list li {
  height: 53vh;
}

.entry {
  height: 100%;
}

.shane_tm_portfolio .portfolio_list li .inner {
  height: 100%;
}

.entry.shane_tm_portfolio_animation_wrap a {
  display: block;
}

.description h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.shane_tm_settings .shane-theme-color li a,
.shane_tm_settings .colors li a {
  transition: 0.2s;
  margin: 0 5px;
}

.shane_tm_settings .shane-theme-color li,
.shane_tm_settings .colors li {
  position: relative;
}

.shane_tm_settings .shane-theme-color li a.active,
.shane_tm_settings .colors li.active a,
.shane_tm_settings .shane-theme-radius li a.active {
  transform: scale(1.2);
}

.shane-radius .shane_tm_about .about_image .main,
.shane-radius .shane_tm_button button,
.shane-radius .shane_tm_button a,
.shane-radius .shane_tm_portfolio .portfolio_list li .inner .main_image,
.shane-radius .shane_tm_portfolio .portfolio_list li .inner,
.shane-radius .shane_tm_news ul li .list_inner,
.shane-radius .shane_tm_contact .fields ul li input,
.shane-radius .shane_tm_contact .fields .last textarea,
.shane-radius .shane_tm_contact .map_wrap .map,
.shane-radius .shane_tm_title span,
.shane-radius .shane_tm_modalbox_about .description_wrap,
.shane-radius .shane_tm_modalbox_news .box_inner,
.shane-radius .shane_tm_modalbox_news .description_wrap .image .main,
.shane-radius .typofix pre,
.shane-radius .typofix img,
.shane-radius .shane_tm_portfolio_titles,
.shane-radius .shane-rounded-radius,
.shane-radius .shane_tm_modalbox_news .shane-post-rounded-radius .description_wrap .image img,
.shane-radius .shane_tm_modalbox_about .box_inner,
.shane-radius .shane_tm_portfolio .portfolio_list ul li .inner:hover .main,
.shane-radius .shane_tm_modalbox_news .box_inner:before,
.shane-radius .shane_tm_mobalbox_contact.opened .box_inner,
.shane-radius input,
.shane-radius textarea,
.shane-radius .shane_tm_mobalbox_contact .short_info > ul > li .list_inner, .shane-radius .shane_tm_modalbox_news .box_inner:after {
  border-radius: 8px !important;
  transition: 0.2s;
}

.shane-radius .shane_tm_mobalbox_contact .box_inner:before, .shane-radius .shane_tm_mobalbox_contact .box_inner:after{
  border-radius: 8px;
}

.shane-radius .image,
.shane-radius .image img,
.shane-radius .shane_tm_about .left .main,
.shane-radius .shane_tm_video_button a,
.shane-radius .button a,
body.loaded.shane-radius .overlay_effect:before,
body.loaded.shane-radius .overlay_effect:after {
  border-radius: 8px;
}

.shane-radius .shane_tm_contact .fields ul li input {
  height: 50px;
}

.shane-radius .shane_tm_settings,
.shane-radius .shane_tm_settings .icon,
.shane-radius .shane_tm_news ul li .details {
  border-bottom-left-radius: 8px;
  transition: 0.2s;
}

.shane-radius .shane_tm_settings .icon,
.shane-radius .shane-news-article .image {
  border-top-left-radius: 8px;
  transition: 0.2s;
}

.shane-radius .shane-news-article .image {
  border-top-right-radius: 8px;
  transition: 0.2s;
}

.shane-radius .shane_tm_news ul li .details {
  border-bottom-right-radius: 8px;
}

.shane_tm_settings .shane-theme-color li .checkmark,
.shane_tm_settings .colors li .checkmark,
.shane_tm_settings .shane-theme-radius li .checkmark {
  position: absolute;
  transform: scale(0.3);
  z-index: 1;
  top: 0px;
  left: 1.8px;
}

/* .shane_tm_settings .shane-theme-radius li .checkmark {
  position: absolute;
  transform: scale(0.5);
  z-index: 1;
  top: -6.5px;
  left: -5.5px;
} */

.box_inner.shane-post-rounded-radius {
  overflow: hidden;
}
button#send_message {
  padding: 15px 35px;
  font-size: 15px;
  cursor: pointer;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;

  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
  content: "";
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

.shane_tm_settings .shane-theme-color li:first-child .checkmark:after {
  border-right: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
}
.shane_tm_settings .shane-theme-color li:last-child .checkmark:after {
  border-right: 10px solid #333;
  border-top: 10px solid #333;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

/* .shane-theme-radius li a {
  width: 40px!important;
  height: 40px!important;
} */

.shane-theme-radius a.shane-square {
  border-radius: 0px !important;
}
.shane-theme-radius a.shane-rounded {
  border-radius: 6px !important;
}

.logo-dark,
.logo-light {
  display: none;
}

body.dark .logo-light,
body.white .logo-dark {
  display: block;
}

.shane_tm_settings .wrapper {
  width: 100%;
  height: 70vh;
  clear: both;
  float: left;
  overflow-x: auto;
}
.shane_tm_settings .wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.shane_tm_settings .wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.shane_tm_settings .wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
